In [3]:
import pandas as pd

file_path = r"C:/Users/hanna/Desktop/house_sales.csv"

df = pd.read_csv(file_path)
df.head()

# Characteristics of the dataset

# How many columns and rows there are in the dataset
print("Dimensions:", df.shape)

# Column names and data types
print("\nData Types:")

# Statistical summary
print("\nSummary:")
print(df.describe())

# See the first few rows
df.head()

Dimensions: (21613, 21)

Data Types:

Summary:
                 id         price      bedrooms     bathrooms   sqft_living  \
count  2.161300e+04  2.161300e+04  20479.000000  20545.000000  20503.000000
mean   4.580302e+09  5.400881e+05      3.372821      2.113507   2081.073697
std    2.876566e+09  3.671272e+05      0.930711      0.768913    915.043176
min    1.000102e+06  7.500000e+04      0.000000      0.000000    290.000000
25%    2.123049e+09  3.219500e+05      3.000000      1.500000   1430.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000   1920.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000   2550.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  12050.000000

           sqft_lot        floors    waterfront          view     condition  \
count  2.056900e+04  21613.000000  21613.000000  21613.000000  21613.000000
mean   1.517982e+04      1.494309      0.007542      0.234303      3.409430
std    4.148617e+04      0.539989      0.086517      0.766318      0.650743
min    5.200000e+02      1.000000      0.000000      0.000000      1.000000
25%    5.040000e+03      1.000000      0.000000      0.000000      3.000000
50%    7.620000e+03      1.500000      0.000000      0.000000      3.000000
75%    1.070800e+04      2.000000      0.000000      0.000000      4.000000
max    1.651359e+06      3.500000      1.000000      4.000000      5.000000

              grade    sqft_above  sqft_basement      yr_built  yr_renovated  \
count  21613.000000  21613.000000   21613.000000  21613.000000  21613.000000
mean       7.656873   1788.390691     291.509045   1971.005136     84.402258
std        1.175459    828.090978     442.575043     29.373411    401.679240
min        1.000000    290.000000       0.000000   1900.000000      0.000000
25%        7.000000   1190.000000       0.000000   1951.000000      0.000000
50%        7.000000   1560.000000       0.000000   1975.000000      0.000000
75%        8.000000   2210.000000     560.000000   1997.000000      0.000000
max       13.000000   9410.000000    4820.000000   2015.000000   2015.000000

            zipcode           lat          long  sqft_living15     sqft_lot15
count  21613.000000  21613.000000  21613.000000   21613.000000   21613.000000
mean   98077.939805     47.560053   -122.213896    1986.552492   12768.455652
std       53.505026      0.138564      0.140828     685.391304   27304.179631
min    98001.000000     47.155900   -122.519000     399.000000     651.000000
25%    98033.000000     47.471000   -122.328000    1490.000000    5100.000000
50%    98065.000000     47.571800   -122.230000    1840.000000    7620.000000
75%    98118.000000     47.678000   -122.125000    2360.000000   10083.000000
max    98199.000000     47.777600   -121.315000    6210.000000  871200.000000

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650.0,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242.0,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
# Determine which columns need cleaning
df.isnull().sum()

id                  0
date                0
price               0
bedrooms         1134
bathrooms        1068
sqft_living      1110
sqft_lot         1044
floors              0
waterfront          0
view                0
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated        0
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [8]:
print(df.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [25]:
# Use the median for numeric column missing values
fill_cols = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot']

for col in fill_cols:
    df[col] = df[col].fillna(df[col].median())

# Fill categorical-like numeric columns with mode
cat_cols = ['floors', 'waterfront', 'view', 'condition', 'grade']
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

# Convert date into real datetime format
df['date'] = pd.to_datetime(df['date'], format = '%Y%m%dT%H%M%S')

In [26]:
# Replace impossible values
df['bedrooms'] = df['bedrooms'].replace(0, df['bedrooms'].median())
df['bathrooms'] = df['bathrooms'].replace(0, df['bedrooms'].median())

# Confirm no nulls are left
df.isnull().sum()

id                   0
date                 0
price                0
bedrooms             0
bathrooms            0
sqft_living          0
sqft_lot             0
floors               0
waterfront           0
view                 0
condition            0
grade                0
sqft_above           0
sqft_basement        0
yr_built             0
yr_renovated     20460
zipcode              0
lat                  0
long                 0
sqft_living15        0
sqft_lot15           0
dtype: int64

In [27]:
# Remove outliers
df = df[df['bedrooms'] <=10]
df = df[df['sqft_living'] <= 10000]
df = df[df['sqft_lot'] <= 200000]

import numpy as np

# Handle renovation years for those that have not been renovated yet
df['yr_renovated'] = df['yr_renovated'].replace(0, np.nan)
df['yr_renovated'] = pd.to_numeric(df['yr_renovated'])

In [28]:
# Confirm data has been transformed 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21359 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21359 non-null  int64
 1   date           21359 non-null  datetime64[ns]
 2   price          21359 non-null  float64
 3   bedrooms       21359 non-null  float64
 4   bathrooms      21359 non-null  float64
 5   sqft_living    21359 non-null  float64
 6   sqft_lot       21359 non-null  float64
 7   floors         21359 non-null  float64
 8   waterfront     21359 non-null  int64
 9   view           21359 non-null  int64
 10  condition      21359 non-null  int64
 11  grade          21359 non-null  int64
 12  sqft_above     21359 non-null  int64
 13  sqft_basement  21359 non-null  int64
 14  yr_built       21359 non-null  int64
 15  yr_renovated   899 non-null    float64
 16  zipcode        21359 non-null  int64
 17  lat            21359 non-null  float64
 18  long           21359 non-null  float64
 19  sqft_living15  21359 non-null  int64
 20  sqft_lot15     21359 non-null  int64
dtypes: datetime64[ns](1), float64(9), int64(11)
memory usage: 3.6 MB

In [29]:
df.to_csv("cleaned_house_sales.csv", index=False)

In [30]:
# Aggregate average price by zipcode
avg_price_zip = df.groupby('zipcode')['price'].mean().reset_index()
avg_price_zip.head()

# Aggregate average price of home by amount of bedrooms
avg_price_by_bdrms = df.groupby('bedrooms')['price'].mean().reset_index()
avg_price_by_bdrms

   bedrooms         price
0       1.0  3.189623e+05
1       2.0  4.000886e+05
2       3.0  4.711163e+05
3       4.0  6.328564e+05
4       5.0  7.879076e+05
5       6.0  7.979985e+05
6       7.0  9.551476e+05
7       8.0  1.138833e+06
8       9.0  9.528000e+05
9      10.0  8.193333e+05

In [36]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_cols = ['sqft_living', 'sqft_lot', 'price']
df_standardized = df.copy()
df_standardized[scaled_cols] = scaler.fit_transform(df[scaled_cols])

df_standardized.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,-0.875610,3.0,1.00,-1.005596,-0.343014,1.0,0,0,...,7,1180,0,1955,NaN,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,0.000578,3.0,2.25,0.576543,-0.248094,2.0,0,0,...,7,2170,400,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,-0.991751,2.0,1.00,-1.472270,-0.083654,1.0,0,0,...,6,770,0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,0.183521,4.0,3.00,-0.117777,-0.381769,1.0,0,0,...,7,1050,910,1965,NaN,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,-0.077035,3.0,2.00,-0.436481,-0.198130,1.0,0,0,...,8,1680,0,1987,NaN,98074,47.6168,-122.045,1800,7503

In [38]:
# Scaled dataset saved as new CSV file
df_standardized.to_csv("standardized_house_sales.csv", index=False)

In [43]:
#----Time Features----
df['year_sold'] = df['date'].dt.year
df['month_sold'] = df['date'].dt.month

#----Age of House----
df['house_age'] = df['year_sold'] - df['yr_built']

#----Age Since Renovation----
df['years_since_renovation'] = df['year_sold'] - df['yr_renovated']

# Houses not renovated will be NaN

#----Renovation Flag----
df['renovated_flag'] = df['yr_renovated'].notna().astype(int)

#----Total Square Footage----
df['total_sqft'] = df['sqft_above'] + df['sqft_basement']

#----Price Per Square Foot ----
df['price_per_sqft'] = df['price'] / df['sqft_living']